/* Portrait and Landscape */
@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 500px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .section {
    	width: 90% !important;
    }
    .icon{
      width: 30%;
      padding:5%;
    }

    .white_content {
        display: none;
        width:70%;
        top: 18%;
        left:5%;
        padding: 16px;
        border: 16px solid #4D4D4D;
        background-color: white;
        z-index:1002;
        overflow: auto;
        font-family: Roboto, Helvetica, sans-serif;
        font-size: 1.5em;
        color: #4D4D4D;

    }

    footer{
      display:none;
    }

    #aboutmodal{
      width:100%;
      height:800px;
    }

    .alizarin-flat-button {
      position: relative;
      vertical-align: top;
      width: 60%;
      height: 60px;
      padding: 0;
      font-size: 22px;
      color: white;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      background: #e74c3c;
      border: 0;
      border-bottom: 2px solid #db4334;
      cursor: pointer;
      -webkit-box-shadow: inset 0 -2px #db4334;
      box-shadow: inset 0 -2px #db4334;
    }
}
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .icon{
      width:10%;
      padding:2%;
    }

  #togg{
    display: none;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    min-width: 100%;
    color: black;
    /*dark gray*/
    background: url("pw_maze_white.png");
    font-family: Roboto, Helvetica;
    font-size: 14px;
  }

  .alizarin-flat-button {
    position: relative;
    vertical-align: top;
    width: 30%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #e74c3c;
    border: 0;
    border-bottom: 2px solid #db4334;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #db4334;
    box-shadow: inset 0 -2px #db4334;
  }
  .alizarin-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

}

html,
body {
  padding: 0;
  margin: 0;
  min-width: 100%;
  color: black;
  /*dark gray*/
  background: url("pw_maze_white.png");
  font-family: Roboto, Helvetica;
  font-size: 14px;
}
header {
  background-color: #4D4D4D;
  /* dark blue */

  font-size: 20px;

  color: white;

  text-align: center;
}


div.transbox {
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}
div.transbox p {

  font-weight: bold;
  color: #000000;
}
h1 {
  font-size: 7em;
  margin:0;
  padding: 0;
  color: #4D4D4D;
  padding: 2%;
}

p {
  padding: 0.5%;
}


/*footer {



 color: #aaa;

 background-color: #333;

 line-height: 30px;

 padding: 3px;



}*/

video {
  /* video border */

  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  /* transitions applied to the video element */

  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
audio {
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  /* transitions applied to the video element */

  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
button.back {
  /*These lines override the previous styling of buttons*/

  -webkit-border-image: url("greyButton.png") 0 14 0 14 stretch;
  width: 60px;
  height: 30px;
  /*These lines position the back button inside the header*/

  position: absolute;
  left: 16px;
  top: 8px;
}


/* #Alizarin Flat Button
==================================================*/

.alizarin-flat-button {
  position: relative;
  vertical-align: top;
  width: 30%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e74c3c;
  border: 0;
  border-bottom: 2px solid #db4334;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #db4334;
  box-shadow: inset 0 -2px #db4334;
}
.alizarin-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

footer {
  color: white;
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 1%;
  text-align:center;
  background-color: #ff5b57;
  z-index:10000;
}

.col{
  text-align: center;
}

.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #4D4D4D;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 15%;
        left: 23%;

        width: 50%;
        padding: 16px;
        border: 16px solid #4D4D4D;
        background-color: white;
        z-index:1002;
        overflow: auto;
        font-family: Roboto, Helvetica, sans-serif;
        font-size: 1.5em;
        color: #4D4D4D;

    }


input[type=checkbox] {
   position: absolute;
   display: block;

}

label {
  display: block;
  -webkit-appearance: push-button;
  -moz-appearance: button;
  display: inline-block;
  margin: 60px 0 10px 0;
  cursor: pointer;
}

input [type=checkbox]:checked ~ #drop{
  display: none;
}





a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}


#form{
  padding: 2%;
}

#stuff{
  padding: 2%;
}

#map{
  width: 80%;
}

h1{
  font-size:47px;
}


img{
  width:50%;
}

@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);
html,
body {
		font-family: 'Roboto', sans-serif;
		background: #eee;
		height: 100%;
		width: 100%;

		margin: 0;
		color: #2E2E3C;
		line-height: 24px;
		-webkit-font-smoothing: antialiased;
}



#circle{
  border-radius: 200px;
  width: 200px;
  height: 200px;
  background-size: 280px;
  background-position: right;}



#intro{
  display:none;
}
#content{
  display:none;
}

#timeline{
  display:block;
}


.btn, .btn:hover, .btn:active, .btn:visited, .btn:link{
  background-color:#e74c3c !important;
}

.menu{
  padding:1%;
  text-align:center;
}

#timeline{
  bottom:0px;
}
